@import 'main/vars';
@import 'main/site';
@import 'main/four-oh-four';

@import 'admin/main';

@import 'home/cards';

@import 'components/topper.scss';
@import 'components/promo.scss';
@import 'components/status.scss';
@import 'components/comments.scss';
@import 'components/voting.scss';

@import 'debates/foragainstwithvoting';
@import 'debates/foragainst';

.hide {
  display: none;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}
