@import 'main/vars';
@import 'main/site';

@import 'admin/main';

@import 'debates/structured';
@import 'debates/foragainst';

@import 'home/cards';

.hide {
  display: none;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}
