{{> head title='Admin create new debate' subtitle='Admin section' }}
{{> admin/header }}

<div id="msg_status" class="status hide">
	Messages go here
</div>

<main>
	<h1> Create Debate </h1>
	<form id="form_new_debate">
		<div id="msg_error" class="error hide"></div>
		<label for="debateType">Debate type</label>
		<select name="debateType" required disabled>
			<option selected value="structured">Structured debate</option>
		</select>
		<label for="title">Title</label>
		<input type="text" name="title" placeholder="Title" required />
		<label for="debateDescription">Description</label>
		<input type="text" name="debateDescription" placeholder="Description" required />
		<label for="debateStatus">Debate status</label>
		<select name="debateStatus" required>
			<option value="open" selected>Open</option>
			<option value="closed">Closed</option>
		</select>
		<label for="votingStatus">Voting status</label>
		<select name="votingStatus" required>
			<option value="open" selected>Open</option>
			<option value="closed">Closed</option>
		</select>
		<button id="submit_new_debate">Create new debate</button>
	</form>
</main>

{{> admin/footer}}