{{> admin/header title='Admin edit new debate' subtitle='Admin section' }}

<div id="msg_status" class="status hide">
	Messages go here
</div>

<main>
	<h2>
		Edit Debate
	</h2>
	{{#if debate}}
	<form id="form_edit_debate">
		<div id="msg_error" class="error hide"></div>
		<label for="type">Debate type</label>
		<select name="type" required disabled>
			<option selected value="structured">Structured debate</option>
		</select>
		<label for="title">Title</label>
		<input type="text" name="title" placeholder="Title" value="{{debate.title}}" required />
		<label for="debateDescription">Description</label>
		<input type="text" name="debateDescription" placeholder="Description" value="{{debate.description}}" required />
		<label for="status">Status</label>{{debate.status}}
		<select name="status" required>
			<option value="open" {{#ifEquals debate.status "open"}}selected{{/ifEquals}}>Open</option>
			<option value="closed" {{#ifEquals debate.status "closed"}}selected{{/ifEquals}}>Closed</option>
		</select>
		<label for="voting_status">Voting status</label>
		<select name="voting_status" required>
			<option value="open" selected>Open</option>
			<option value="closed">Closed</option>
		</select>
		<button id="submit_edit_debate">Update debate</button>
	</form>
	{{/if}}
</main>

{{> admin/footer}}