{{> head title='Admin home' subtitle='Admin section' }}
{{> admin/header }}
<main class="o-grid-container">
	<h1 class="admin-section">Home</h1>
	<p>
		Here in the admin section you can create/edit and list debates and debate types.
	</p>
	<p>
		Please use the navigation to access the page(s) you need
	</p>
</main>

{{> footer type="admin"}}