{{> admin/header title='Admin dashboard' subtitle='Admin section' }}

<main>
	<h2>
		Dashboard
	</h2>
	{{#if debateList}}
	{{#each debateList}}
	<h3>{{ debateTypeName }}</h3>
	<ul>
		{{#if debates}}
		{{#each debates}}
		<li>
			<a href="/{{ ../debateTypeName }}/{{ this }}">{{ this }}</a>
		</li>
		{{/each}}
		{{/if}}
	</ul>
	{{/each}}
	{{/if}}
</main>

{{> admin/footer}}