{{> admin/header title='Admin dashboard - Messages' subtitle='Admin section' }}

<main>
	<h2>
		Messages
	</h2>
	<p>
		List of notifactions and user requests go here...
	</p>
</main>

{{> admin/footer}}