<footer>
</footer>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es5%2Ces6%2Ces7%2Cfetch%2CPromise&flags=gated"></script>
<script src="https://www.ft.com/__origami/service/build/v2/bundles/js?modules=o-table@^7.2.2,o-fonts@^3.3.0"></script>
<script src="/static/js/{{ type }}/main.js"></script>
</body>
</html>