<head>
	<title>{{ title }}</title>
	<meta charset="utf-8" name="description" content="{{ subtitle }}">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="stylesheet" type="text/css" href="/static/css/{{ type }}/main.css">
</head>