<head>
	<title>{{ title }}</title>
	<meta charset="utf-8" name="description" content="{{ subtitle }}">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="stylesheet" href="https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-grid@^4.5.1,o-colors@^4.8.5,o-table@^7.2.2,o-fonts@^3.3.0,o-header-services@^3.2.12"/>
</head>