/*Colours*/
$o-color-paper: #fff1e5;
$o-color-wheat: #f2dfce;
$o-color-teal: #0d7680;
$o-color-white: #ffffff;
$o-color-black: #000000;
$o-color-black-60: #666666;
$o-color-black-30: #cccccc;
$o-color-claret: #990f3d;
$o-color-validation-green: #00572c;
$o-color-validation-red: #b30000;

/*Widths*/
$o-width-small: 740px;
$o-width-medium: 740px;
$o-width-large: 740px;
$o-width-x-large: 740px;
