/*Colours*/
$o-color-paper: 			#FFF1E5;
$o-color-wheat: 			#F2DFCE;
$o-color-teal:				#0D7680;
$o-color-white: 			#FFFFFF;
$o-color-black:				#000000;
$o-color-black-60:			#666666;
$o-color-black-30:			#CCCCCC;
$o-color-claret:			#990F3D;
$o-color-validation-green:	#00572C;
$o-color-validation-red:	#B30000;