<!DOCTYPE html>
<html lang="en">
{{#> head title='Debate demo home' subtitle='Debate demo home' type='home' }}
{{/head}}

<body>
	Debate demo home
	<ul>
		<li>
			<a href="/structured/second-ref">Structured debate RE: Second ref</a>
		</li>
		<li>
			<a href="/hats/second-ref">Hats debate RE: Second ref</a>
		</li>
	</ul>
	{{> footer}}
</body>

</html>