<!DOCTYPE html>
<html lang="en">
{{#> head title='Interviews' subtitle='Interviews' type='interview' }}
{{/head}}

<body>
    {{> user/header username=user.username }}

	<main class="o-grid-container">
   		<h1>{{title}}</h1>
    	<p>{{description}}</p>
    </main>

{{> footer type='interview' }}
