<!DOCTYPE html>
<html lang="en">
{{#> head title='Structured debate' subtitle='Structured debate' type='structured' }}
{{/head}}

<body class="debate-structured">
    {{> user/header username=user.username }}

    <div class="debate-topper-container">
        <div class="o-grid-container">
            <div class="o-grid-row debate-topper">
                <p class="debate-type">{{debateType}}</p>
                <h1 class="debate-title">{{title}}</h1>
                <p class="debate-description">{{description}}</p>
            </div>
        </div>
    </div>

    <main class="o-grid-container">

        {{#if commentsAgainst}}
        <div>
            <p>Against</p>
            {{> structured/comments class='comments_list' comments=commentsAgainst debateId=debateId }}
        </div>
        {{/if}}
        {{#if commentsFor}}
        <div>
            <p>For</p>
            {{> structured/comments class='comments_list' comments=commentsFor debateId=debateId }}
        </div>
        {{/if}}

        {{#if debateOpen}}
        <form action="comment/{{debateId}}?" method="POST" encrypt="multipart/form-data" class="comment-form">
            <textarea name="comment" rows=" 4" cols="50"></textarea>
            <input type="radio" id="against" name="tags[]" value="against" checked>
            <label for="against">against</label>
            <input type="radio" id="for" name="tags[]" value="for">
            <label for="for">for</label>
            <input type="submit" value="Submit" />
            <div class="comment-reply-notification hidden">
                <div class="comment-reply-message"></div>
                <a class="comment-reply-remove" href="#">Remove</a>
            </div>
            <input class="comment-reply-to" type="hidden" name="replyTo" />
        </form>
        {{/if}}
    </main>
    {{> footer type='structured' }}