{{#each comments}}
<div class="comments-{{../listStyleClass}}">
    {{> components/comments/single class=this.tags comment=this debateId=../debateId repliesOpen=../repliesOpen listStyleClass=../listStyleClass }}
</div>
{{/each}}