{{#each comments}}
<div class="comments-{{../listStyleClass}}">
	{{> components/comments/single class=this.tags comment=this debateId=../debateId debateType=../debateType repliesOpen=../repliesOpen listStyleClass=../listStyleClass }}
</div>
{{/each}}