header {
  background: white;
  height: 20px;
  padding: 8px;
  text-align: right;
  position: relative;
  display: block;
  border-bottom: 1px solid lightgrey;
}

.hide {
  display: none;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
