/*Colours*/
/*Widths*/
html,
body {
  background-color: #f2dfce;
  font-family: MetricWeb, sans-serif;
  margin: 0;
  padding: 0; }

.sticky {
  background-color: #f2dfce;
  border-bottom: 2px solid #cccccc;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5; }

.o-header-services__related-content {
  /*TODO: temporary, remove important when breakpoints come in*/ }
  .o-header-services__related-content li a {
    padding: 5px 12px !important; }

.profile-container .profile {
  display: block;
  width: 30px;
  height: 30px;
  background: #0d7680;
  border-radius: 50%;
  overflow: hidden;
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  border-color: transparent;
  border: 1px solid #0d7680;
  margin-right: 5px; }
  .profile-container .profile:before {
    content: '';
    display: block;
    width: 13px;
    height: 13px;
    margin: 5px auto;
    background: #f2dfce;
    border-radius: 50%;
    overflow: hidden; }
  .profile-container .profile:after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    margin: -22px 0;
    background: #f2dfce;
    border-radius: 50%;
    overflow: hidden; }

.profile-container .user-name {
  text-transform: capitalize; }

.four-oh-four h1 {
  font-size: 17em;
  text-align: center;
  margin: 0;
  padding: 0; }

.four-oh-four pre {
  white-space: normal;
  padding: 10px;
  background-color: #cccccc; }

.o-header-services__secondary-nav-list--ancestors li a {
  pointer-events: none; }

h1.admin-section {
  font-family: FinancierDisplayWeb, serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  margin: 40px 0 20px; }
  h1.admin-section:after {
    padding-top: 10px;
    padding-bottom: 0;
    content: '';
    display: block;
    width: 25%;
    border-bottom: 4px solid #000000; }

.debate-type-tag {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #990f3d; }

h2.debate-type {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 20px; }

.admin-content {
  width: 100%;
  background: #ffffff;
  min-height: 60%;
  padding: 30px;
  margin: 20px 0; }
  .admin-content #form_new_debate {
    padding: 0; }
  .admin-content .debateTypeDescription {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #cccccc; }
  .admin-content .o-table--row-stripes {
    background-color: #ffffff; }
    .admin-content .o-table--row-stripes tbody tr:nth-child(even) {
      background-color: #e6e6e6; }
    .admin-content .o-table--row-stripes tbody a {
      color: #0d7680; }
  .admin-content.admin-debates-list {
    min-height: 0;
    border-bottom: 1px solid rgba(179, 169, 160, 0.2);
    box-shadow: 1px 2px 5px rgba(179, 169, 160, 0.2); }

.home-header {
  background: #ffffff;
  margin: 40px 0;
  border-bottom: 1px solid #f2dfce; }

.home-heading {
  text-align: center;
  font-family: 'FinancierDisplayWeb', serif;
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
  width: 100%;
  margin: 0;
  padding: 20px;
  text-transform: capitalize; }
  .home-heading:after {
    content: '';
    display: block;
    background: #000000;
    height: 4px;
    width: 40%;
    margin: 20px auto 0; }

.home-intro {
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #666666;
  width: 70%;
  margin: 0 auto 40px auto; }

.debates-home {
  padding: 20px;
  align-items: baseline;
  background: #f2dfce; }

.debate-card {
  flex-basis: 33%;
  align-self: stretch;
  padding: 10px; }
  .debate-card .o-teaser__heading {
    text-transform: capitalise; }
    .debate-card .o-teaser__heading a,
    .debate-card .o-teaser__heading a:visited {
      color: #000000; }
  .debate-card .o-teaser__content {
    height: 100%;
    position: relative;
    background-color: #ffffff; }
  .debate-card .debate-type-tag {
    text-transform: capitalize; }
  .debate-card .o-teaser__timestamp {
    margin-bottom: 40px; }
  .debate-card .debate-status {
    display: table;
    width: 100%;
    border-top: 1px solid #cccccc;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: 400;
    color: #666666;
    position: absolute;
    bottom: 0;
    left: 0; }
    .debate-card .debate-status .debate-state {
      display: table-cell;
      text-align: center; }
      .debate-card .debate-status .debate-state:first-child {
        border-right: 1px solid #cccccc; }
      .debate-card .debate-status .debate-state .state-indicator {
        font-weight: 600; }
        .debate-card .debate-status .debate-state .state-indicator.debate-open {
          color: #00572c; }
        .debate-card .debate-status .debate-state .state-indicator.debate-closed {
          color: #b30000; }

.debate-topper-container {
  background-color: #990f3d; }
  .debate-topper-container .debate-topper {
    color: white;
    padding: 20px 20px 25px; }
    .debate-topper-container .debate-topper h1,
    .debate-topper-container .debate-topper p {
      width: 100%;
      margin: 0; }
    .debate-topper-container .debate-topper .debate-type {
      font-family: MetricWeb, sans-serif;
      font-size: 20px;
      line-height: 24px;
      font-weight: 200; }
    .debate-topper-container .debate-topper .debate-title {
      font-family: FinancierDisplayWeb, serif;
      font-size: 40px;
      line-height: 40px;
      font-weight: 400;
      margin: 15px 0 5px; }
    .debate-topper-container .debate-topper .debate-description {
      font-family: MetricWeb, sans-serif;
      font-size: 20px;
      line-height: 24px;
      opacity: 0.8; }

@media only screen and (max-width: 740px) {
  .debate-topper-container .debate-topper {
    padding: 20px 10px 25px; } }

.debate-promo-container {
  background-color: #fff1e5; }
  .debate-promo-container .debate-promo {
    padding: 20px 20px 25px; }
    .debate-promo-container .debate-promo h1,
    .debate-promo-container .debate-promo p {
      width: 100%;
      margin: 0; }

@media only screen and (max-width: 740px) {
  .debate-promo-container .debate-promo {
    padding: 20px 10px 25px; } }

.status-topper-container {
  background-color: #0d7680;
  color: white; }
  .status-topper-container .status-topper {
    padding: 0 20px; }

.single-comment {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 15px auto auto auto;
  align-items: start;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-left: 2px solid rgba(70, 70, 70, 0.2); }
  .single-comment .o-teaser__user {
    font-weight: bold;
    margin: 0;
    font-family: MetricWeb, sans-serif;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 16px;
    position: relative;
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased; }
  .single-comment .o-teaser__timestamp {
    margin-top: 0;
    text-align: right; }
  .single-comment .o-teaser__text {
    margin: 8px 0; }
  .single-comment .o-teaser__text,
  .single-comment .o-replies,
  .single-comment .comment-actions {
    grid-column-start: 1;
    grid-column-end: 3; }
  .single-comment .comment-actions {
    text-align: left; }
    .single-comment .comment-actions a {
      margin: 0;
      color: gray;
      opacity: 0.8;
      font-family: MetricWeb, sans-serif;
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 16px;
      position: relative;
      width: 100%;
      text-decoration: none;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased; }
      .single-comment .comment-actions a:hover {
        text-decoration: underline; }
  .single-comment .o-replies {
    max-width: 100%;
    margin-top: 15px; }
    .single-comment .o-replies .single-comment {
      padding: 10px 0 10px 10px;
      margin-bottom: 0; }

/* ---------------------------- */
/*    forAgainstWithVoting version + colour    */
/* ---------------------------- */
.comments-forAgainstWithColour .single-comment {
  border-left: 2px solid #0d7680;
  background-color: white; }
  .comments-forAgainstWithColour .single-comment .o-replies .single-comment {
    border-left: 2px solid #ff7faa; }
    .comments-forAgainstWithColour .single-comment .o-replies .single-comment .single-comment {
      border-left: 2px solid #0f5499; }
      .comments-forAgainstWithColour .single-comment .o-replies .single-comment .single-comment .single-comment {
        border-left: 2px solid #ff8833; }
        .comments-forAgainstWithColour .single-comment .o-replies .single-comment .single-comment .single-comment .single-comment {
          border-left: 2px solid #593380; }

/* ---------------------------- */
/*    Basic o-teaser version    */
/* ---------------------------- */
.comments-basicOTeaser .o-teaser__content .o-teaser__user {
  font-weight: bold;
  margin: 0; }

.comments-basicOTeaser .o-teaser__content .o-teaser__content {
  border: 0;
  padding: 0 0 15px 0; }

.comments-basicOTeaser .o-teaser__content .comment-status {
  display: table;
  width: 100%;
  border-top: 1px solid #cccccc;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: 400;
  color: #666666;
  position: absolute;
  bottom: 0;
  left: 0; }
  .comments-basicOTeaser .o-teaser__content .comment-status div {
    display: table-cell;
    text-align: center;
    border-right: 1px solid #cccccc; }
  .comments-basicOTeaser .o-teaser__content .comment-status div:last-child {
    border-right: none; }

.comments-basicOTeaser .o-replies {
  max-width: 100%;
  margin: 0 0 0 25px; }

.comments-basicOTeaser .comments-for .o-replies {
  margin: 0 25px 0 0; }

.comments-basicOTeaser .comments-for .o-teaser,
.comments-basicOTeaser .comments-against .o-teaser {
  margin: -9px !important; }

.comments-basicOTeaser .form-comment-container {
  position: fixed;
  border-top: 2px solid #cccccc;
  bottom: 0;
  width: 100%;
  background: #f2dfce;
  padding: 10px; }
  .comments-basicOTeaser .form-comment-container .o-forms {
    max-width: none; }
  .comments-basicOTeaser .form-comment-container .o-forms__radio + .o-forms__label::before {
    background: white; }

/* ---------------------------- */
/*    Form Comment Container    */
/* ---------------------------- */
.form-comment-container {
  position: fixed;
  border-top: 2px solid #cccccc;
  bottom: 0;
  width: 100%;
  background: #f2dfce;
  padding: 10px; }
  .form-comment-container .o-forms {
    max-width: none; }
  .form-comment-container .o-forms__radio + .o-forms__label::before {
    background: white; }

.form-voting-container,
.form-results-container {
  position: fixed;
  border-top: 2px solid #cccccc;
  bottom: 0;
  width: 100%;
  background: #fff1e5;
  padding: 10px; }
  .form-voting-container .o-forms,
  .form-results-container .o-forms {
    max-width: none; }
    .form-voting-container .o-forms label,
    .form-results-container .o-forms label {
      text-transform: capitalize; }
  .form-voting-container .results,
  .form-results-container .results {
    display: block; }
  .form-voting-container table,
  .form-results-container table {
    width: 100%; }
    .form-voting-container table tr td:first-child,
    .form-results-container table tr td:first-child {
      width: 90px;
      text-transform: capitalize;
      font-weight: bold; }
    .form-voting-container table tr td .percentage,
    .form-results-container table tr td .percentage {
      background: #ff8833;
      color: #666666; }
      .form-voting-container table tr td .percentage p,
      .form-results-container table tr td .percentage p {
        padding: 10px;
        margin: 0; }

.debate-forAgainstWithVoting h2 {
  text-align: center; }

.debate-forAgainstWithVoting main {
  margin-bottom: 200px; }

.debate-forAgainst h2 {
  text-align: center; }

.debate-forAgainst .debate-sides {
  background: #0f5499; }

.debate-forAgainst main {
  margin-bottom: 200px; }

.hide {
  display: none; }

.clearfix::after {
  content: '';
  clear: both;
  display: table; }
