/*Colours*/
html, body {
  background-color: #FFF1E5;
  font-family: MetricWeb, sans-serif;
  margin: 0;
  padding: 0; }

h2 {
  font-size: 32px; }

.nav-contents {
  padding: 15px; }

nav {
  background-color: white;
  position: relative;
  width: 100%; }
  nav a {
    padding-right: 20px;
    text-decoration: none; }
    nav a:hover {
      text-decoration: underline; }
  nav div a {
    display: inline-block; }

main {
  padding: 15px; }

form {
  display: grid;
  grid-column: auto auto;
  max-width: 500px; }

button,
input,
select {
  font-size: 14px;
  margin-bottom: 15px; }

input {
  width: 100%; }

button {
  padding: 15px; }

fieldset {
  display: grid;
  margin-bottom: 15px; }

.error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #721c24;
  padding: 15px;
  margin-bottom: 20px; }

.status {
  color: #155724;
  background-color: #d4edda;
  border-top: 1px solid #155724;
  border-bottom: 1px solid #155724;
  padding: 15px; }

.additional-info {
  font-family: MetricWeb, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #66605c;
  display: block; }

.list-debates {
  border-bottom: 1px solid grey; }

.hide {
  display: none; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.o-header-services__related-content {
  /*TODO: temporary, remove important when breakpoints come in*/ }
  .o-header-services__related-content li a {
    padding: 5px 12px !important; }

.profile-container .profile {
  display: block;
  width: 30px;
  height: 30px;
  background: #0D7680;
  border-radius: 50%;
  overflow: hidden;
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  border-color: transparent;
  border: 1px solid #0D7680;
  margin-right: 5px; }
  .profile-container .profile:before {
    content: '';
    display: block;
    width: 13px;
    height: 13px;
    margin: 5px auto;
    background: #F2DFCE;
    border-radius: 50%;
    overflow: hidden; }
  .profile-container .profile:after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    margin: -22px 0;
    background: #F2DFCE;
    border-radius: 50%;
    overflow: hidden; }

.profile-container .user-name {
  text-transform: capitalize; }
