<div id="msg_status" class="o-message o-message--alert hide" aria-hidden="true" data-o-component="o-message">
	<div class="o-message__container">
		<div class="o-message__content ">
			<p class="o-message__content-main">
				Global messages go here
			</p>
		</div>
	</div>
</div>