<div class="form-results-container">
	<div class="o-grid-container">
		<div class="o-grid-row">
			<p>
				Debate closed
			</p>
			<div class="results">
				<p>
					Results
				</p>
				{{#if voteResults}}
				{{#each voteResults}}
				<div>
					{{this.name}}, {{this.number}}, {{this.percentage}}
				</div>
				{{/each}}
				{{/if}}
			</div>
		</div>
	</div>
</div>