<div class="form-results-container">
	<div class="o-grid-container">
		<div class="o-grid-row">
			<p data-o-grid-colspan="6">
				Debate closed
			</p>
			<div class="results results-{{voteStyleClass}}" data-o-grid-colspan="6">
				<p class="title">
					Results
				</p>
				<table>
					{{#if voteResults}}
					{{#each voteResults}}
					<tr>
						<td>
							{{name}}
						</td>
						<td>
							<div class="percentage" style="width:{{percentage}}%">
								<p>
									{{percentage}}%
								</p>
							</div>
						</td>
					</tr>
					{{/each}}
					{{/if}}
				</table>
			</div>
		</div>
	</div>
</div>