{{#> head title=title subtitle='For Against With Voting debate' type='forAgainstWithVoting' }}
{{/head}}

<body class="debate-forAgainstWithVoting">
	{{> user/header username=user.usernameNice }}

	{{> components/heading/topper debateType=debateType title=title description=description }}

	{{> debates/forAgainstWithVoting/status debateOpen=debateOpen votingOpen=votingOpen }}

	{{#ifNotThisOrThat commentsAgainst commentsFor}}
	{{> components/heading/promo}}
	{{/ifNotThisOrThat}}

	{{#ifThisOrThat commentsAgainst commentsFor}}
	<div class="sticky hide">
		<div class="o-grid-container ">
			<div class="o-grid-row">
				<div class="comments-for" data-o-grid-colspan="6">
					<h2>For</h2>
				</div>
				<div class="comments-against" data-o-grid-colspan="6">
					<h2>Against</h2>
				</div>
			</div>
		</div>
	</div>

	<main class="o-grid-container">
		<div class="o-grid-row">
			<div class="comments-for" data-o-grid-colspan="6">
				<h2>For</h2>
				{{#if commentsFor}}
				{{> components/comments/list class='comments_list' comments=commentsFor debateId=debateId repliesOpen=debateOpen listStyleClass="forAgainstWithColour" }}
				{{/if}}
			</div>
			<div class="comments-against" data-o-grid-colspan="6">
				<h2>Against</h2>
				{{#if commentsAgainst}}
				{{>  components/comments/list class='comments_list' comments=commentsAgainst debateId=debateId  repliesOpen=debateOpen listStyleClass="forAgainstWithColour" }}
				{{/if}}
			</div>
		</div>
	</main>
	{{/ifThisOrThat}}

	{{#if votingOpen}}
	{{> components/voting/new debateId=debateId existingVote=existingVote voteOptions=voteOptions }}
	{{/if}}
	{{#if debateOpen}}
	{{> components/comments/new debateType=debateType debateId=debateId}}
	{{else}}
	{{> components/voting/results voteStyleClass="bars"}}
	{{/if}}

	{{> footer type='forAgainst' comments=true voting=true }}