<!DOCTYPE html>
<html lang="en">
{{#> head title='Interviews' subtitle='Interviews' type='interview' }}
{{/head}}

<body>
	{{> user/header username=user.username }}

	{{> components/heading/topper debateType=debateType title=title description=description }}

	<main class="o-grid-container">
		<p>
			Interview stuff should go here
		</p>
	</main>

	{{> footer type='interview' }}