<div class="debate-topper-container">
	<div class="o-grid-container">
		<div class="o-grid-row debate-topper">
			<p class="debate-type">{{debateType}}</p>
			<h1 class="debate-title">{{title}}</h1>
			<p class="debate-description">{{description}}</p>
		</div>
	</div>
</div>