<div class="debate-topper-container" data-o-grid-colspan="12">
	<div class="o-grid-container">
		<div class="o-grid-row debate-topper debate-topper-mini">
			<h1 class="debate-title">{{title}}</h1>
		</div>
	</div>
</div>