{{#if alertMessage}}
<div class="o-message o-message--alert  o-message--{{alertType}}" data-o-component="o-message">
	<div class="o-message__container">
		<div class="o-message__content ">
			<p class="o-message__content-main">
				{{alertMessage}}
			</p>
		</div>
	</div>
</div>
{{/if}}