<header class="o-header-services clearfix" data-o-component="o-header-services">
	<div class="o-header-services__top">
		<div class="o-header-services__logo"></div>
		<div class="o-header-services__title">
			<a class="o-header-services__product-name" href="/">Debate</a>
			<span class="o-header-services__product-tagline">Order, order!</span>
		</div>
		<ul class="o-header-services__related-content">
			<li class="profile-container">
				<a href="#">
					<span class="profile">Profile</span>
					<span class="user-name" href="#">{{ username }}</span>
				</a>
			</li>
		</ul>
	</div>
{{#ifEquals admin "admin"}}
{{else}}
</header>
{{/ifEquals}}
