<footer>
</footer>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es5%2Ces6%2Ces7%2Cfetch%2CPromise&flags=gated"></script>
<script src="/static/js/admin/main.js"></script>
</body>

</html>