<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{ title }}</title>
	<meta charset="utf-8" name="description" content="{{ subtitle }}">
	<link rel="stylesheet" type="text/css" href="/static/css/admin/main.css">
</head>

<body>
	<nav>
		<h1>FT Debate admin</h1>
		<div class="nav_links">
			<a href="/admin">Dashboard</a>
			<a href="/admin/create_new_debate">Create new debate</a>
			<a href="/admin/moderation">Moderation</a>
		</div>
	</nav>