<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{ title }}</title>
	<meta charset="utf-8" name="description" content="{{ subtitle }}">
	<link rel="stylesheet" type="text/css" href="/static/css/admin/main.css">
</head>

<body>
	<nav>
		<h1>FT Debate admin</h1>
		<div>
			<a href="/admin">Dashboard</a>
			<a href="/admin/create_debate">Create debate</a>
			<a href="/admin/moderation">Moderation</a>
			<a href="/admin/users">Users</a>
			<a href="/admin/messages">Messages</a>
		</div>
	</nav>