<body>
	{{> user/header username=username }}
	<nav>
		<div class="nav-contents">
			<h1>FT Debate admin</h1>
			<div>
				<a href="/admin">Dashboard</a>
				<a href="/admin/create_debate">Create debate</a>
				<a href="/admin/moderation">Moderation</a>
			</div>
		</div>
	</nav>